@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700;800&family=Roboto+Slab:wght@400;500;600;700;800&family=Indie+Flower&display=swap");

* {
  padding: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(214, 235, 190);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(129, 189, 90);
}

h1 {
  color: rgb(238, 105, 52);

  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-variant: small-caps;
  font-size: 72px;

  text-align: right;
  margin: 0px 0px 0px 10px;

  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px;
}

h3 {
  color: rgb(85, 85, 85);

  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px;
  text-align: center;

  font-family: "Roboto Slab", serif;
  font-variant: small-caps;
  font-weight: 400;
  font-size: 24pt;

  text-transform: capitalize;
}

h4 {
  color: rgb(85, 85, 85);
  font-family: "Indie Flower", cursive;
  font-weight: 600;

  text-align: justify;

  font-size: 16pt;
}

h5 {
  color: rgb(85, 85, 85);
  font-family: "Dancing Script", cursive;
  font-weight: 500;
  text-align: center;

  font-size: 12pt;
}

p {
  color: rgb(85, 85, 85);
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  text-align: left;

  font-size: 12pt;
}

a {
  text-decoration: none;
  color: forestgreen;
}

a:hover {
  color: rgb(0, 146, 146);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-content {
  justify-content: center;
}

.main-div {
  display: flex;
  background-color: rgb(169, 212, 120);

  padding: 100px;

  flex-direction: row;
}

.title {
  margin: 10px 10px 20px 350px;
}

.book-div {
  width: 750px;
  height: 600px;

  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.5);

  background-color: rgb(255, 255, 255);

  border-radius: 3%;
  border: rgb(255, 240, 231) double 10px;

  padding: 10px;
}

.book-content {
  position: relative;
  padding: 0 10px 0 30px;
}

.div-spiral {
  width: 50px;
  height: 500px;

  position: relative;
  left: 25px;
}

.book-spiral {
  width: 50px;
  height: 10px;

  background-color: rgb(109, 17, 17);
  border-radius: 30%;
  border: rgb(141, 46, 46) solid 1px;

  margin: 3px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.critter-box {
  width: 300px;
  height: 300px;

  background-color: rgb(250, 217, 247);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

  align-items: center;

  margin: 10px 0 0 10px;
  contain: content;
}

.info-box {
  width: 300px;
  height: 400px;
  padding: 10px;
  margin: 0 20px 0 20px;

  overflow-y: scroll;
  contain: content;
}

.box-fight:hover {
  filter: grayscale(0%);
  transition: 0.8s ease;
}

@media (max-width: 480px) {
}
